<!-- Modal -->
<div class="modal fade" id="PROFILEpictureModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- modal header -->
      <div class="modal-header modal_header">
        <h5 class="modal-title text-white poppins_font" style="font-size: 17px; font-weight:400;" id="exampleModalLabel">Change profile picture</h5>


        <!-- modal cross -->
        <button type="button" class=" modal_cross_btn" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-octagon-fill"></i></button>
      </div>

      <!-- modal body m-->

      <form action="{% url 'change_prfile_picture' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        

        <div class="modal-body">
          <!-- image show -->
          <div class="d-flex justify-content-center">

            <style>
              #display-image{
                  height:150px;
                  width:150px;
                  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                  background-position: center;
                  background-size: cover;
              }
            </style>
            
            <div id="display-image" class="d-block rounded-circle" style="background-image:url({{ request.user.get_profile_picture }}) ;"></div>
          </div>

          <div class=" mt-3">
            Leave profile image:&nbsp; 
            <label class="profile_picture_container px-2 py-1" style="font-size: 14px;">
              Choose image
              <input type="file" name="profile_image" id="image-input" accept="image/jpeg, image/png, image/jpg" required> 
            </label>
          </div>     

        </div>

              <!-- modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn profile-button text-white">Save</button>
        </div>

      </form>


      <script>
        
        const image_input = document.querySelector("#image-input");

        image_input.addEventListener("change", function() {

            const reader = new FileReader();
            
            reader.addEventListener("load", () => {
                const uploaded_image = reader.result;
                document.querySelector("#display-image").style.backgroundImage = `url(${uploaded_image})`;
            });
            reader.readAsDataURL(this.files[0]);
        });
      </script>

    </div>
  </div>
</div>