{% extends 'base.html' %}
{% load static %}
{% block title %} Update Product Informations {% endblock %}
{% block link %}
{% endblock %}




{% block content %}
<section class="h-100 pt-5 pb-5 mt-4 poppins_font">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100 mt-5">

            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-sm-9">


                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <!-- heading -->
                        <h1 class="fs-4 card-title fw-bold mb-4">Update Your Product</h1>

                        {% if messages %}
                        {% include 'message.html' %}
                        {% endif %}

                        <!-- update product form -->
                        <form action="" method="POST" class="needs-validation" style="font-size: 13px;" novalidate="" autocomplete="off" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form.media}}
                            {{form.as_p}}
                           
                            <!-- save button -->
                            <div class="d-flex align-items-center">
                                <button type="submit" class="btn btn-outline-dark ms-auto" value="Update" style="font-size: 13px;">
                                    Add
                                </button>
                            </div>
                        </form>
                    </div>

                    <!--
                    <div class="card-footer py-3 border-0">
                        <div class="text-center" style="font-size: 13px;">
                            Don't have an account? <a href="{% url 'singup' %}" class="text-dark">Create One</a>
                        </div>
                    </div>
                    -->

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

